@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Jost");

$font-main: "jost", sans-serif;
$family-sans-serif: $font-main;

$primary: #171141;
$link: #1b7340;
$info: #90d3ed;
$success: #20b953;
$warning: #ffcb2e;
$danger: #f5333f;

@import "~bulma";
@import "~buefy/src/scss/buefy";